.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;

  .chip {
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 8px;
    height: 24px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
  }
}
