.articlesList {
  list-style: none;
  padding: 0;

  .readMore {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
    display: block;
    padding-top: 10px;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.7;
      transition: opacity 0.1s ease;
    }
  }

  .heroWrapper {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    margin-top: 12px;

    .heroImage {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      display: block;
    }
  }

  .authorName {
    font-weight: 500;
  }

  .authorBy {
    margin-right: 6px;
  }

  .loadMoreWrapper {
    text-align: center;
  }
}
