.wrapper {
  margin: 0 auto;

  .postTitle {
    font-weight: 600;
    margin-top: 15px;
  }

  .postBody {
    color: var(--foreground-muted);
    white-space: pre-line;
    padding-bottom: 1rem;
  }
}
